.allJobs-container{
    .homePage-cards-container{
      padding-top: 1rem;
      display: grid;
      grid-template-columns: (1,1fr);
      column-gap: 1em;
      row-gap: 2rem;
      width:35em;
      .card-container{
      box-shadow: 0 0 0.2rem;
      border-radius: 1%;
       padding: 1rem;
       position: relative;
     
      .viewjob{
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: black;
       cursor: pointer;
       &:hover{
        text-decoration: solid;
       }
      }
      .card-profile{
    position: absolute;
    top: 10%;
    right: 5%;
   
       p{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgb(219, 169, 89);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
       }
      }
    }
}
}
.sideBox{
  width:12.8em;
  height:70em;
border-radius: 30px;
position: absolute;
top:8.2em;
left:16.5em;
text-align: center;
.apply{
    width:14em;
    height: 3em;
    border:1px solid rgb(53,198,18);
    border-radius: 5px;
    padding-top: 0.7em;
 color: white;
 background-color: rgb(53,198,18);
 font-size: 0.7em;
 margin-left:2.5em;
}
.clear{
  width:14em;
  height: 3em;
  border:1px solid gray;
  border-radius: 5px;
  padding-top: 0.7em;
color: gray;

font-size: 0.7em;
margin-left:2.5em;
}
hr{
  width:9.8em;
  margin-left:1.8em
}
}