.register-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.imagediv{
     width: 50%;
     height: 48em;
}

.imagediv img{
    width: 100%;
    height: 100%;
    background-size: contain;
}

.login
{
    color:white;
    margin-left: 3em;
    cursor: pointer;
    &:hover{
        color:green;
    }
}
.register{
    color:white;
    margin-left:0em;
    cursor: pointer;
    width:20em;
    &:hover{
        color:green;
    }
}
.formDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv {
    display:flex;
    justify-content:center;
    align-items: center;
    height:48em;
    /* width:100%; */
    margin-top: -0.5em;
    background:url('https://drive.google.com/uc?export=view&id=1euiZNblW9OrIXz8kqz-NOqYdGH84oktG') no-repeat;
    background-size:cover;
    background-position:center;
    animation:animateBg 5s linear infinite;
  }

  @keyframes animateBg {
    100% {
      filter:hue-rotate(360deg);
    }
  }

Form{
    width: 50%;
    
}