.viewcompany{
  width: 100%;

  .ifollowcomp-follow{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    .ifollowcomp-text{
      font-size: 1em;
    }
  }

  .company-name{
    font-size: 2em;
    font-weight: bold;
    color: rgb(76, 74, 74);
  }

  .viewcompany-details{
     padding: 1em;
    .viewcompany-profile{
      display: flex;
      column-gap: 1em;

      .random{
        width: 3em;
        height: 3em;
        border: 1px solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .viewcompany-deatils-btn{
      width: 100%;
      padding: 1.5em;
      margin-top: 1em;
      background-color: orange;
      border-radius: 10px;
      
    .viewcompany-deatils-btn-inner{
      display: flex;
      justify-content: flex-start;
      column-gap: 2em;
    
      .hom{
   width: 6em;
   height: 2em;
   border: 1px solid ;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
     &:hover {
      background-color: bisque;
     }
    }

    .abt{
      width: 6em;
      height: 2em;
      border: 1px solid;
      display: flex;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      &:hover {
        background-color: bisque;
       }
    }

    .jobss{
      width: 6em;
      height: 2em;
      border: 1px solid;
      display: flex;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      &:hover {
        background-color: bisque;
       }
    }

  }

  
}

.viewcompany-home{
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
 

  .viewcompany-home-inner{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 1em 0 0 0.5em;
  }
}

.viewcompany-about{
  width: 100%;

}
.viewcompany-about-inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1.5em;
  align-items:start;
  padding: 1em 0 1em 1em;
}

}

@media screen and (min-width:320px) and (max-width:480px) {
  .viewcompany{
    width: 100%;
  
    .ifollowcomp-follow{
    width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ifollowcomp-text{
        font-size: 1em;
      }
    }
  
    .company-name{
      font-size: 1.6em;
      font-weight: bold;
      color: rgb(76, 74, 74);
    }
  
    .viewcompany-details{
       padding: 1em;
      .viewcompany-profile{
        display: flex;
        column-gap: 1em;
  
        .random{
          width: 3em;
          height: 3em;
          border: 1px solid;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
  
    }
  
    .viewcompany-deatils-btn{
        width: 100%;
        padding: 1.5em;
        margin-top: 1em;
        
      .viewcompany-deatils-btn-inner{
        display: flex;
        justify-content: flex-start;
        column-gap: 2em;
      
        .hom{
     width: 6em;
     height: 2em;
     border: 1px solid;
     display: flex;
     justify-content: center;
     align-items: center;
        
      }
  
      .abt{
        width: 6em;
        height: 2em;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .jobss{
        width: 6em;
        height: 2em;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
    }
  
    
  }
  
  .viewcompany-home{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  
    .viewcompany-home-inner{
      display: flex;
      justify-content: flex-start;
      align-items: start;
      padding: 1em 0 0 0.5em;
    }
  }
  
  .viewcompany-about{
    width: 100%;
  
  }
  .viewcompany-about-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.5em;
    align-items:start;
    padding: 1em 0 1em 1em;
  }
  
  }
}