label{
    font-size: 0.9rem;
    color: rgb(94, 91, 91);
    font-weight: 600;
}

p{
    font-size: 1.15rem;
}
.h6{
    font-weight: 500;
}
.card-profile{
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 1.5rem;
   
       p{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgb(219, 169, 89);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
       }
      }

      .data{
        padding-top: 1em;
        margin-left:7em;
        margin-right: 7em;
      }
      .footer{
        background-color: rgb(244,179,74);
        width:100%;
        height:25vh;
        margin-top: 3em;
        .inside{
            .privacy{
                color:white;
                margin-left: 9em;
            }
            .copy{
                color:rgb(187, 166, 133);
                margin-left: 9em;
            }
        }
        .icons{
            position: absolute;
            top:48em;
            right:2em;
            font-size: 2em;
            display: flex;
            color: white;
            justify-content: space-evenly;
            margin-right: 3em;
            column-gap: 1em;
        }
    }
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .play{
            width:10em;
            position: absolute;
            right:12em;
            top:100em;
        }
       
    }